<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.education.mapper.PostMapper">
    <sql id="baseQuery">
        SELECT ep.post_id,
            ep.post_title,
            ep.post_content,
            ep.post_page_views,
            ep.post_likes,
            ep.user_id,
            ep.media_ids,
            ep.tags,
            ep.create_time,
            ep.create_person,
            ep.update_time,
            ep.update_person
        FROM `ca_education`.`education_post` ep
    </sql>
    <!--新增-->
    <insert id="save" parameterType="com.itcast.education.model.community.Post">
        INSERT INTO `ca_education`.`education_post` (
            `post_id`,
            `post_title`,
            `post_content`,
            `post_page_views`,
            `post_likes`,
            `user_id`,
            `media_ids`,
            `tags`,
            `create_time`,
            `create_person`)
        VALUES (
	        #{postId},
	        #{postTitle},
	        #{postContent},
	        #{postPageViews},
	        #{postLikes},
	        #{userId},
	        #{mediaIds},
	        #{tags},
	        #{createTime},
	        #{createPerson} )
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.itcast.education.model.community.Post">
        UPDATE `ca_education`.`education_post`
        SET `post_title` = #{postTitle},
            `post_content` = #{postContent},
            `post_page_views` = #{postPageViews},
            `post_likes` = #{postLikes},
            `user_id` = #{userId},
            `media_ids` = #{mediaIds},
            `tags` = #{tags},
            `update_time` = #{updateTime},
            `update_person` = #{updatePerson}
        WHERE
            `post_id` = #{postId}
    </update>

    <!--列表-->
    <select id="find" resultType="com.itcast.education.model.community.Post">
        <include refid="baseQuery" />
        <where>
            <if test="postId != null and postId != ''">
                AND ep.post_id = #{postId}
            </if>
        </where>
    </select>
</mapper>